*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #7091e6;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #222;
}

.section-center {
  margin: 0 auto;
  margin-top: 15rem;
  max-width: 35rem;
  background: #adbbda;
  border-radius: 3rem;
  padding: 2rem;
  position: relative;
}
