.single-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  column-gap: 1rem;
  align-items: center;
}

.single-item p {
  text-transform: capitalize;
}

.single-item input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.single-item .btn {
  cursor: pointer;
  color: #fff;
  background: #244855;
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.single-item .btn:hover {
  background: #0b5b71;
}

.single-item .remove-btn {
  background: rgb(180, 30, 30);
}

.single-item .remove-btn:hover {
  background: #900e0e;
}
